.item{
    width: 92px;
    height: 92px;
    background-color: blueviolet;
    border: 2px solid black;
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    /* margin:4px; */
}
.container{
    padding: 20px;
    border: 2px solid red;
    height: 200px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* flex-direction: column; */
    flex-wrap: ?;
    align-content: center;

    /* flex-flow: row wrap-reverse; */
    /* gap: 20px; */
    /* row-gap: 20px;  */
    column-gap: 20px;
    gap: 40px 20px;
}

.order-1{
    order: 1;
}
.order-2{
    order: 2;
    /* flex-shrink: 2; */
    align-self: flex-end;
}
.order-3{
    order: 3;
}