* {
  margin: 0;
  padding: 0;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url(/assets/images/bg.jpg);
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  position: relative;
}
.box {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80vw;
  position: relative;
  z-index: 10;
  padding-top: 20px;
}
nav img {
  color: red;
  width: 150px;
}
nav .end {
  display: flex;
}
.lang {
  background-color: transparent;
  color: white;
  padding: 5px 16px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  gap: 10px;
  border: 1px solid white;
  border-radius: 2px;
}
nav .lang img {
  width: 10px;
  color: white;
}
nav .sign {
  background-color: red;
  border-radius: 2px;
  border: 2px solid red;
  color: white;
  padding: 7px 16px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
}

.hero {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px;
  text-align: center;
}
.hero .title {
  width: 550px;
  font-weight: 900;
  text-align: center;
  font-size: 56px;
  line-height: 70px;
}
.hero .price {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}
.hero .label{
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px;
}
.input {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 7px;
  align-items: center;
}
.email {
  background-color: rgba(17, 17, 17, 0.764);
  width: 326px;
  padding: 16px 16px;
  border: 2px solid grey;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  position: relative;
}
.getstarted {
  background-color: red;
  border: none;
  padding: 12px 27px;
  font-size: 24px;
  font-weight: 500;
  color: white;
  border-radius: 4px;
  position: relative;
}
.hero button {
  display: flex;
  align-items: center;
  gap: 17px;
}
.hero button img {
  color: white;
}
/* .curve-container{
    position: relative;
    height: 6.25rem;
}
.curve{
    width: 130%;
    left: -15%;
}
.curvein{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
} */
input::placeholder {
  color: rgba(255, 255, 255, 0.712);
}

@media screen and (max-width: 1270px) {
  .hero .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  .hero .price {
    font-size: 16px;
    font-weight: 400px;
  }
  .hero .label {
    font-size: 16px;
    font-weight: 400;
    width: 450px;
  }
  nav {
    width: 88vw;
  }
  .email {
    width: 280px;
    padding: 14px 16px;
  }
  .getstarted {
    padding: 14px 23px;
    font-size: 18px;
  }
}
@media screen and (max-width: 960px) {
  .hero .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    width: 500px;
  }
  .hero .price {
    font-size: 16px;
    font-weight: 400px;
  }
  .hero .label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 450px;
  }
  nav {
    width: 85vw;
  }
  nav img {
    width: 90px;
  }
  .email {
    width: 236px;
    padding: 14px 16px;
  }
  .getstarted {
    padding: 14px 23px;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .input {
    flex-direction: column;
  }
  .hero .title {
    width: 100%;
  }

  .hero .label {
    width: 100%;
  }
  .email {
    width: 85vw;
    padding: 14px 16px;
  }
  .getstarted {
    width: 158px;
    padding: 14px 13px;
    font-size: 18px;
    font-weight: 500;
  }
  nav .lang p {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .input {
    flex-direction: column;
  }
  .hero .title {
    width: 95%;
  }

  .hero .label {
    width: 95%;
  }
  .email {
    width: 85vw;
  }
  .getstarted {
    width: 161px;
    padding: 14px 13px;
  }
  nav .lang p {
    display: none;
  }
}
@media screen and (max-width: 310px) {
  nav {
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
    align-items: flex-start;
  }
}

section .subtitle{
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 19px 120px;
}
.images {
  display: flex;
  overflow-x: scroll;
  width: 80vw;
  margin: auto;
  gap: 40px;
  padding: 10px;
  margin-bottom: 30px;
  position: relative;
}

.images img {
  border-radius: 8px;
}
.images img:hover{
  transform: scale(1.05);
  cursor: pointer;
  transition-duration: 0.3s;
}
.scroll{
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 85vw;
}
.scroll button{
    background-color: rgb(31, 31, 31);
    height: 113px;
    width: 24px;
    border-radius: 8px;
    border: 2px solid rgb(31, 31, 31);
}
.images::-webkit-scrollbar{
    display: none;
}
.more{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 26px 0;
}
.more span{
    width: 261px;
    height: 200px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    color: white;
    border-radius: 10px;
    padding: 20px;
}
span p:first-child{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
span p:last-child{
    color:rgba(255, 255, 255, 0.7);
}

.faq{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 82vw;
    margin: auto;
    margin-bottom: 70px
}
.faq div{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
    color: white;
    background-color: #333333;
    padding: 10px 20px;
    padding-top: 24px;
}
.faq div:hover{
  background-color: rgb(65 65 65);
  cursor: pointer;
}
section .label{
      font-size: 16px;
  font-weight: 400;
  padding: 0px 0px;
  color: white;
}
.label{
    display: flex;
    justify-content: center;
}
section .email {
  width: 35vw;
}
footer{
    color: rgb(210, 210, 210);
}
.middle{
    display: flex;
    justify-content: space-between;
    margin: 0px 140px;
    margin-right: 350px;
}
.middle ul{
    display: flex;
    flex-direction: column;
    gap: 13px;
    list-style: none;
}
a{
    color: rgb(210, 210, 210);
}
.first{
    margin:50px 140px;
    margin-top: 70px;
}
footer .lang{
    margin:0px 140px;
    margin-top: 50px;
}
.conclusion a{
    color: blue;
}
.netflix{
    margin:0px 140px;
    margin-top: 40px;
    font-size: 14px;
}
.conclusion{
    margin: 30px 140px;
    font-size: 13px;
}
.try div{
  position: relative;
}
.tryimg div span{
  font-size: 100px;
  font-weight: 900;
  position: absolute;
  left: -13px;
  top: 167px;
  z-index: 10;
  -webkit-text-stroke: white 2px;
}
