.box{
    width: 30vw;
    height: 10vh;
    border: 2px solid black;
    /* overflow: auto;
    overflow-x: auto;
    overflow-y: hidden; */
    overflow: hidden auto;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    
}