.container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: [first]120px [second] 100px;
    grid-template-rows: 100px 100px 100px;
}
.item{
    border: 2px solid red;
    height: 55px;
    width: 55px;
}
.item-4{
    grid-column: 1/2;
    grid-row: 1/2;
}
.item-1{
    grid-column: 1/2;
    grid-row: 1/2;
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: first/second;

}