.container {
  background-color: blue;
  width: 1000px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  position: absolute;
}
.ball {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: bouncey 1s ease-out 2s infinite alternate,
    bouncex1 10s linear 2s infinite;
}
@keyframes bouncex1 {
  from {
    left: 0;
  }
  to {
    left: 950px;
  }
}
@keyframes bouncey {
  from {
    /* transform: translateY(0); */
    bottom: 0;
  }
  to {
    /* transform: translateY(-200px); */
    bottom: 200px;
  }
}
/* bouncex 3s linear 2s infinite */
