*{
    background-color: hsl(100, 25%, 50%);
}
h1 {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:wavy underline; */
    font-family: 'Baloo Bhai 2', poppins;
    text-decoration: wavy underline;
    text-decoration-color: red;
    /* or
    text-decoration: underline wavy red; */
    /* text-decoration-style: wavy; */
    text-decoration-thickness: 2px;
    text-indent: 10px;
    text-align: center;
}

p{
    font-style: oblique;
    /* font-weight: 900; */
    /* text-decoration: underline; */
    font-size: 20px;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: capitalize;

}
#para {
    width: 239px;
    height: 239px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    border: 2px solid black;
}

h2 {
    /* color: orange; */
    /* color: #e64520; */
    /* color: rgb(20, 65, 181); */
    /* color: rgba(55, 99, 88, 0.5); */
    color: hsl(58, 100%, 52%);
    
}