* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
.box {
    width: 80vw;
    height: 5vh;
    background-color: rgb(155, 231, 231);
    border: 2px solid black;
    margin: auto;
}
.box2 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 80vw;
    /* height: 60vh; */
    font-size: 18px;
    min-height: 80vh;
    background-color: lightgreen;
    border: 2px solid black;
    margin: 23px auto;
}
.box2 div {
    font-size: 1.5rem;
    border: 2px solid blue;
    width: 50%;
}
.box2 div div{
    font-size: 20px;
    background-color: lightblue;
    width: 50%;
    border: 2px solid red;
}

.box3 {
    width: 80vw;
    height: 5vh;
    margin: auto;
    background-color: rgb(248, 248, 248);
    border: 2px solid black;
}
/* .box4 {
    width: 100vmin;
    /* height: 20vmax; */
    /* background-color: lightcoral;
    border: 2px solid black;
} */