body{
    background-color: blue;
}
@media only screen and (max-width:600px) {
    body{
        background-color: yellow;
    }
}
.boxes{
    display: flex;
}
.box{
    height: 100px;
    width: 100px;
    background-color: steelblue;
    margin: 10px;
}

@media only screen and (max-width:455px) {
    .boxes{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (orientation: landscape) {
    .box{
        border: 2px solid red  ;
        background-color: black;
    }
    
}